{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "trailingComma": "none",
        "tabWidth": 2
      }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}